/* Empty. Add your own CSS if you like */
.max-width-eq-parent {
  max-width: 100%;
}

.align-children-center {
  position: relative;
}

.pokemon-image {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}

.type-tag {
  color: white;
}
.grass-type {
  background: green;
}

.poison-type {
  background: purple;
}