<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{pokemon.name}}">
  <ion-content>
    <div class="row">
      <div class="col col-50 align-children-center">

        <div ng-switch="proofImageSrc == null">
          <div ng-switch-when="true">
            <img class="max-width-eq-parent pokemon-image" src="{{pokemon.sprites.front_default}}"/>
          </div>
          <div ng-switch-default>
            <img class="max-width-eq-parent pokemon-image" src="{{proofImageSrc}}"/>
          </div>
        </div>

      </div>
      <div class="col col-50">
        <div class="item">{{pokemon.name}}</div>
        <span ng-repeat="type in pokemon.types">
          <div class="item type-tag {{type.type.name}}-type">{{type.type.name}}</div>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button ng-click="doRegister()" class="button button-dark button-block">
          Register
          &nbsp   
          <i class="icon ion-camera"></i>
        </button>
      </div>
      <div class="col">
        <button ng-click="doBrag()" class="button button-dark button-block">
          Brag
          &nbsp
          <i class="icon ion-share"></i>
        </button>
      </div>
    </div>
    <div class="list">
      <div class="item item-divider">Abilities</div>
      <ion-list>
        <ion-item class="item" ng-repeat="ability in pokemon.abilities">
          {{ability.ability.name}}
          <span ng-if="ability.is_hidden" class="item-note">hidden ability</span>
        </ion-item>
        <ion-item class="item ng-hide">{{testLabel}}</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
