<ion-view view-title="Settings">
  <ion-content>
    <ion-item>
      <h2>testcontroller</h2>
    </ion-item>
    <ion-item>
      <h4>current measurements</h4>
      <ul>
        <li>x:{{measurements.x}}</li>
        <li>y:{{measurements.y}}</li>
        <li>z:{{measurements.z}}</li>
      </ul>
      <h4>previous measurements</h4>
      <ul>
        <li>x:{{previousMeasurements.x}}</li>
        <li>y:{{previousMeasurements.y}}</li>
        <li>z:{{previousMeasurements.z}}</li>
        <h2>{{testLabel}}</h2>
      </ul>
      <h4>difference</h4>
      <ul>
        <li>x:{{previousMeasurements.x}}</li>
        <li>y:{{previousMeasurements.y}}</li>
        <li>z:{{previousMeasurements.z}}</li>
        <h2>{{testLabel}}</h2>
      </ul>
    </ion-item>
  </ion-content>
</ion-view>
